<div class="portail-box account-info sep-right">
	<h3>Info <i class="fa fa-user"></i></h3>
	<form class="form-inline">
		<div class="row inline-field">
			<div class="form-group">
				<label for="name">Nom</label>
				<input type="text" name = "first_name" class="form-control" value = "<%first_name%>" id="nom">
			</div>
			<div class="form-group">
				<label for="prenom">Prenom</label>
				<input type="text" name = "last_name" value = "<% last_name %>" class="form-control" id="pre">
			</div>
			<div class="form-group">
				<label for="prenom">#Tel Maison</label>
				<input type="tel" name = "phone_home" value = "<% phone_home %>" class="form-control" id="tel" placeholder="(555)-456-000">
			</div>
			<div class="form-group">
				<label for="prenom">#Tel Cell</label>
				<input type="tel" name = "phone_mobile"  value = "<% phone_mobile %>" class="form-control" id="tel" >
			</div>
			<div class="form-group">
				<label for="prenom">#Tel Travail</label>
				<input type="tel" name = "phone_work"  value = "<% phone_work %>" class="form-control" id="tel" >
			</div>
			<div class="form-group">
				<label for="prenom">#Tel Autre</label>
				<input type="tel" name = "phone_other" value = "<% phone_other %>" class="form-control" id="tel" >
			</div>
		</div>
		<div class="row from-group-fluid address-from">
			<label class="text-left address-label-heading">Address:</label>
			<div class="form-group">
				<label for="role">Rue</label>
				<input type="text" name = "billing_address_street" value = "<% billing_address_street %>" class="form-control" id="rue">
			</div>
			<div class="form-group">
				<label for="ville">Ville</label>
				<input type="text" name = "billing_address_city" value = "<% billing_address_city %>" class="form-control" id="ville">
			</div>
			<div class="form-group">
				<label for="postal-code">Code Postal <span style="color: red">*</span></label>
				<input type="text" value = "<% billing_address_postalcode %>" class="form-control postal-code" id="billing_address_postalcode" name = "billing_address_postalcode" placeholder="H1H2H3">
			</div>
			<div class="form-group">
				<label for="billing_address_state">Province</label>
				<input type="text" value = "<% billing_address_state %>" class="form-control" id="billing_address_state" name = "billing_address_state">
			</div>
			<div class="form-group">
				<label for="courriel">Courriel</label>
				<input type="text" name = "email" value = "<% email %>" class="form-control" id="courriel" placeholder="client@gmail.com">
			</div>
			<div class="form-group">
				<label for="courriel">Consentement</label>
				<input type="checkbox" id="Consentement" value = "<% consentement %>">
				<label for="Date">Date</label>
				<input type="text" name = "date_de_consentement_datestamp" value = "<% date_de_consentement_datestamp %>" class="form-control" >
			</div>
			<div class="form-group">
			<label for="Date">Language <span style="color: red">*</span></label>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name ="preferred_language_1" id="preferred_language_1" value="1">
						Frangais
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="checkbox" class="form-check-input" name ="preferred_language_2" id="preferred_language_2" value="2">
						Angalais
					</label>
				</div>
			</div>
			<div class="form-group">
				<label for="codecie_c">CodeCie</label>
				<select class="form-control" name = "codecie_c" value = "<% codecie_c %>">
					<option value="Solarcan">Solarcan</option>
					<option value="Autre">Autre</option>
				</select>
			</div>
		</div>
	</form>
</div>
