<h1></h1>

<link href='custom/themes/css/fullcalendar.min.css' rel='stylesheet' />
<link href='custom/themes/css/fullcalendar.print.min.css' rel='stylesheet' media='print' />

<style type="text/css">
	.fc-time-grid-event.fc-v-event {
            background-color: transparent;
            border: transparent;
            text-align: center;
        }
        .fc-major {
            height: 40px !important;
        }
        .fc-timeslots-break {
            height: 0px !important;
        }

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
	}
	#calendar {
            max-width: 900px;
            margin: 0 auto;
	}
</style>

<div id='calendar'></div>